---
import HoursHud from "../components/HoursHud.astro";
const BASE_URL = import.meta.env.BASE_URL;
---

<footer class="bg-background-900">
  <div class="pb-16 pt-4 sm:pt-10 lg:pt-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <div
        class="grid grid-cols-2 gap-12 border-t pt-10 md:grid-cols-4 lg:grid-cols-6 lg:gap-8 lg:pt-12"
      >
        <div class="col-span-full lg:col-span-2">
          <!-- logo - start -->
          <div class="mb-1 w-full rounded bg-black/20 pb-2 pl-3 lg:-mt-2">
            <a
              href="/"
              class="text-xl font-bold text-gray-100 md:text-2xl"
              aria-label="logo"
            >
              <span class="block text-3xl text-primary-300">Koushinryou</span>
              <span class="block text-xl text-accent-200">香辛料</span>
            </a>
          </div>
          <!-- logo - end -->
          <HoursHud />
        </div>
        <!-- nav - start -->
        <div class="text-left">
          <div class="mb-1 font-bold uppercase tracking-widest text-accent-300">
            Company
          </div>
          <nav class="items-left flex flex-col gap-4">
            <div>
              <a
                href="/contact.html"
                class="text-gray-100 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
              >
                Career
              </a>
            </div>
            <div>
              <a
                href="/blog.html"
                class="text-gray-100 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
                >Blog</a
              >
            </div>
          </nav>
        </div>
        <!-- nav - end -->
        <!-- nav - start -->
        <div class="text-left">
          <div class="mb-1 font-bold uppercase tracking-widest text-accent-300">
            Support
          </div>
          <nav class="items-left flex flex-col gap-4">
            <div>
              <a
                href=`${BASE_URL}/contact`
                class="text-gray-100 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
              >
                Contact</a
              >
            </div>
            <div>
              <a
                href=`${BASE_URL}/faq.html`
                class="text-gray-100 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
                >FAQ</a
              >
            </div>
          </nav>
        </div>
        <!-- nav - end -->
        <!-- nav - start -->
        <div class="text-left">
          <div class="mb-1 font-bold uppercase tracking-widest text-accent-300">
            Legal
          </div>
          <nav class="items-left flex flex-col gap-4">
            <div>
              <a
                href="#"
                class="text-gray-100 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
                >Privacy Policy</a
              >
            </div>
            <div>
              <a
                href="#"
                class="text-gray-100 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
                >Cookie settings</a
              >
            </div>
          </nav>
        </div>
        <!-- nav - end -->
        <!-- nav - start -->
        <div class="text-left">
          <div class="mb-1 font-bold uppercase tracking-widest text-accent-300">
            Social
          </div>
          <nav class="justify-left flex gap-4">
            <div>
              <a
                href="https://www.facebook.com/people/Koushinryou/100027534056280/"
                class="text-gray-100 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
              >
                <img src=`${BASE_URL}/assets/facebook.svg` class="size-5" />
              </a>
            </div>
            <div>
              <a
                href="https://www.instagram.com/koushinryoujax/"
                class="text-gray-100 transition duration-100 hover:text-indigo-500 active:text-indigo-600"
              >
                <img src=`${BASE_URL}/assets/instagram.svg` class="size-5" />
              </a>
            </div>
            <div
              class="cursor-pointer text-gray-100 transition duration-100 hover:text-gray-500 active:text-gray-600"
              onclick="copyText()"
            >
              <object
                data=`${BASE_URL}/assets/email.svg`
                class="size-5 fill-transparent stroke-white"></object>
            </div>

            <span id="emailText" class="hidden">Copied</span>
            <div id="copyTarget" class="hidden">Koushinryou22@gmail.com</div>
          </nav>
        </div>
      </div>
      <!-- nav - end -->
    </div>
  </div>
</footer>
<div class="bg-background-950">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="items-left flex justify-between gap-4 py-8">
      <span class="text-sm text-gray-400">
        © 2023 - Koushinryou. All rights reserved.
      </span>
    </div>
  </div>
</div>

<script is:inline data-astro-rerun>
  function copyText() {
    const copyText = document.getElementById("copyTarget").innerText;
    navigator.clipboard.writeText(copyText).then(
      function () {
        console.log("Copied to clipboard");
        const copyButton = document.getElementById("copyTarget");
        copyButton.innerText = "Copied";
        const copyIcon = document.getElementById("copyIcon");
        const emailText = document.getElementById("emailText");
        copyIcon.classList.add("hidden"); // Hide the SVG
        emailText.classList.remove("hidden"); // Show the "Copied" text
        setTimeout(function () {
          copyButton.innerText = "Koushinryou22@gmail.com";
          copyIcon.classList.remove("hidden"); // Show the SVG
          emailText.classList.add("hidden"); // Hide the "Copied" text
        }, 2000); // Change back to original text after 2 seconds
      },
      function (err) {
        console.error("Failed to copy: ", err);
      },
    );
  }
</script>
