---
// arrow-uturn-left
import ArrowsPointingOut from "astro-heroicons/outline/ArrowsPointingOut.astro";
import ArrowUturnLeft from "astro-heroicons/outline/ArrowUturnLeft.astro";
const {
  url = "images/gochuSaladBowl.png",
  spiceLevel = 3,
  itemNameJp = "ペッパーサラダペッパーサラダ",
  itemNameEn = "Gochu Salad",
  itemDescriptionEn = 'Homemade vanilla bean whipped cream & chocolate cookie pieces sprinkled with matcha, stuffed in Japanese milk bread "shokupan".',
  itemDescriptionJp = "自家製バニラビーンズ・ホイップクリームと抹茶をまぶしたチョコレート・クッキーを、日本のミルクパン「ショクパン」に詰めたもの。",
  itemPrice = "$6.99",
  itemLikes = 2,
  inStock = false,
  special = true,
} = Astro.props;
---

<div
  class="w-svh relative z-0 min-h-svh overflow-hidden bg-slate-300 sm:m-20 sm:min-h-96 sm:rounded-lg sm:shadow-lg"
>
  <div
    class="absolute z-10 h-64 w-full bg-amber-100 shadow-inner sm:h-full sm:w-[50%]"
  >
    <ArrowUturnLeft
      class="absolute left-0 ml-4 mt-3 h-7 w-7 rounded-lg bg-slate-700/50 p-1 text-white backdrop-blur-md"
    />
    <ArrowsPointingOut
      class="absolute right-0 mr-4 mt-3 h-7 w-7 rounded-lg bg-slate-700/50 p-1 text-white backdrop-blur-md"
    />
    <img class="h-full w-full object-cover" src={url} alt="sando image" />
  </div>
  <div
    class="absolute z-20 mt-60 flex h-96 w-full snap-y scroll-pb-20 justify-center overflow-auto rounded-xl bg-white pt-5 sm:right-0 sm:mt-0 sm:w-[50%] sm:rounded-none sm:p-4"
  >
    <div class="mb-10 h-fit snap-start pb-2">
      <span class="text-lg underline underline-offset-4">{itemNameEn}</span>
      <div class="mt-2 flex flex-none flex-wrap gap-x-2 gap-y-2 text-sm">
        {
          !inStock && (
            <span class="rounded bg-red-600 p-1 uppercase tracking-tight text-red-300">
              out
            </span>
          )
        }
        <span class="h-fit rounded bg-green-700 p-1 text-green-300"
          >{itemPrice}</span
        >
        {
          special && (
            <span class="rounded bg-yellow-600 p-1 uppercase tracking-tight text-yellow-200">
              weekly special
            </span>
          )
        }
        {
          spiceLevel > 0 && (
            <span class="rounded bg-red-600 p-1 uppercase tracking-tight text-red-300">
              spicy
            </span>
          )
        }
      </div>
      <p
        class="mt-4 max-h-fit max-w-72 rounded bg-slate-100/50 p-2 indent-4 outline outline-slate-500"
      >
        {itemDescriptionEn}
        <span class="mt-2 block">
          {itemDescriptionJp}
        </span>
      </p>
    </div>
  </div>
</div>
